# https://www.atlassian.com/git/tutorials/gitignore

# ignore pyc file types
*.pyc

# ignore whole folders
**/trash
**/visualization
**/data

# ignore all .txt files, except requirements & feedback
*.txt
!requirements.txt
!feedback[0-9].txt

# ignore all .test.py files
*.test.py
