# https://www.atlassian.com/git/tutorials/gitignore

# ignore pyc file types
*.pyc

# ignore whole folders
**/trash
**/Graaf_vis
**/data

# ignore all .txt files, except requirements & feedback
*.txt
!requirements.txt
!feedback[0-9].txt